body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 844px;
    width: 390px;
    border: 1px solid black;
}

.headerholder {
    position: relative;
}

.arrowhead {
    position: absolute;
    top: 70px;
    left: 38px;
}

.ellipse{
    position: absolute;
    top: 110px;
    left: 160px;
}

.g16{
    padding-left: 28px;
    padding-top: 45px;
}

.g49{
    padding-left: 28px; 
    padding-top: 8px;
}
.logout {
    padding-left: 29px;
    padding-top: 40px;
}

.navbars {
    padding-left: 18px; 
    padding-top: 40px;
}

.card, .growth, .profile {
    padding-left: 50px;
}