@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 844px;
    width: 390px;
    border: 1px solid black;
}
.headerholder {
    position: relative;
}

.arrowhead {
    position: absolute;
    top: 70px;
    left: 30px;
}

p {
    color: #03466E;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    padding-top: 250px;
}

.navbars {
    padding-left: 18px; 
    margin-top: 20rem;
}

.card, .growth, .profile {
    padding-left: 50px;
}